@import './scss/index';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

//global styles

.container-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;

    .title-section {
        color: $primary-color;
    }
}

//

.container-section {
    text-align: center;
    padding: 0%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;
}

@media screen and (min-width: 1400px) {

//home section slider

.container-section {
    text-align: center;
    padding: 0% 10% 3% 10%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;
}

.container-title-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    padding: 0% 12% 0% 12%;    
        .title-section {
            color: $primary-color;
        }
    }    
}

@media screen and (min-width: 1600px) {

//home section slider

.container-title-section {
        padding: 0% 18% 0% 18%;
    }    
}
