@import './scss/index';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

//global styles

.container-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;

    .title-section {
        color: $primary-color;
    }
}

.container-section {
    text-align: center;
    padding: 0%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;
}

@media screen and (min-width: 1400px) {

//home section slider

.container-section {
    text-align: center;
    padding: 0% 10% 3% 10%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;
}

.container-title-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2%;
        padding: 0% 12% 0% 12%;
        .title-section {
            color: $primary-color;
        }
    }    
}

// cart section

.container-title-section-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
    color: $primary-color;
}


@media screen and (min-width: 1600px) {


//home section slider

.container-title-section {
        padding: 2% 18% 2% 18%;
    }    
}

@media screen and (min-width: 768px) {
.container-title-section-cart {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

//sub-footer

.footer-copy {
    width: 100%;
    background-color: #131111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;

    .footer-copy-text {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }
}

@media screen and (min-width: 1024px) {
    .footer-copy {
        padding: 1% 0 1% 0;
    }
}

//animation

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}