.container-count {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-button {
    width: 70%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button {
    width: 30px;
    outline: none;
    background: #0057ff;
    color:  #fff;
    border-radius: 50px;
    border: none;
    padding: 0;
    height: 15px;
    margin-right: 5px;
    text-align: center;
}

.cart-button:hover {
    background:#dc5cbd;
    cursor:pointer;
}

.cart-text {
    margin-right: 5px;
}